
@{
    ViewBag.Title = "AK47";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GRANNY IS IN THE ROOM WITH A SIDEARM POINTED AT YOU!</h2>
<!--todo add a timed button here-->
<script>
    function myTimer() {
        alert('BANG! BANG! BANG!  Too long you are dead');
        location = "/Dead/TooLong";
    }
    setTimeout(myTimer, 10000);
</script>
<p>GRANNY IS IN THE ROOM WITH A SIDEARM POINTED AT YOU!</p>
<p>
    <div>
        <button class="btn btn-info" type="button" id="shoot" onclick="location.href = '@Url.Action("ShootAK", "Alive")'" />
        Shoot
    </div>
    <br>
    <div>
        <button class="btn btn-info" type="button" id="noShoot" onclick="location.href = '@Url.Action("DontShoot", "Dead")'" />
        Don't Shoot...?
    </div>
</p>
