
@{
    ViewBag.Title = "Computer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Computer... Intresting Choice</h2>

<p>Well the murder is in the room... What would you like to do?</p>


<p>
    <div>
        <button class="btn btn-info" type="button" id="comShield" onclick="location.href = '@Url.Action("ComShield", "Dead")'" />
        Use computer as a shield
    </div>
    <br>
    <div>
        <button class="btn btn-info" type="button" id="throwCom" onclick="location.href = '@Url.Action("ThrowCom", "Alive")'" />
        Throw Computer
    </div>
    <br>
    <div>
        <button class="btn btn-info" type="button" id="powerOn" onclick="location.href = '@Url.Action("PowerOnCom", "Dead")'" />
        Power on computer
    </div>
</p>