
@{
    ViewBag.Title = "MikeTyson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MikeTyson</h2>

<p>Good choice with boxing legend Mike Tyson</p>

<p>Mike sprints towards the Granny. She fires twice with her side arm; hitting Mike once in the right bicep.</p>

<p>Naturally Mike goes straight for the ear.</p>

<p>During the nawing Granny just shoots Mike in the head</p>

<p>Now earless Granny turns to you...</p>
<p>
    @Html.ActionLink("Confront", "MikeTyson","Dead")
    <br>
    @Html.ActionLink("Run", "MikeTyson","Dead")   
</p>


