
@{
    ViewBag.Title = "MikeTyson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Good choice with boxing legend Mike Tyson</h2>

<p>Mike sprints towards the Granny. She fires twice with her side arm; missing one and hitting Mike's right bicep with the other.</p>

<p>Naturally Mike goes straight for the ear.</p>

<p>During the nawing Granny just shoots Mike in the head</p>

<p>Now earless Granny turns to you...</p>
<p>
    <div>
        <button class="btn btn-info" type="button" id="tysonDeadFight" onclick="location.href = '@Url.Action("MikeTyson", "Dead")'" />
        Fight
    </div>
    <br>
    <div>
        <button class="btn btn-info" type="button" id="tysonDeadRun" onclick="location.href = '@Url.Action("WheresWaldo", "Home")'" />
        Run Away
    </div>
</p>


