
@{
    ViewBag.Title = "Exercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Exercise</h2>


<div id ="box"style="width: 300px; height: 100px; border: 1px solid #000;">
    <p>
        <span style="float: left" >Black</span>
        <span style="float: right">Green</span>
    </p>
    <p>
        <span style="float: left">Red</span>
        <span style="float: right">Blue</span>
    </p>
</div>
<style type=" "text/css
box {
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}
