@{
    ViewBag.Title = "Family Room";
}

<h2>Are you going to answer?</h2>

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script>
    $(function() {
        $("#test").click(function(e) {
            var offset = $(this).offset();
            var relativeX = (e.pageX - offset.left);
            var relativeY = (e.pageY - offset.top);
            var isAnswer = (relativeX >= 0 && relativeX <= 315) && (relativeY >= 165 && relativeY <= 315);
            var isIgnore = (relativeX >= 678 && relativeX <= 1000) && (relativeY >= 165 && relativeY <= 315);
            if (isAnswer) {
                location = "/Home/PhoneCall";
            }
            if (isIgnore) {
                location = "/Dead/IgnoreWarning";
            }
        });
    });
</script>
<div>
    <a id="test">
        <img id="unknown-caller" src="http://i53.tinypic.com/1zvwz1t.png"/>
    </a>
</div>
