@{
    ViewBag.Title = "Home Page";
}

<h2>What is going on?</h2>

<div>
    <p>
        You wake up on the floor of your apartment after a morning of drinking; it is night now.  
    </p>
    <p>
        However, "It's Always Sunny in Philadelphia" is currently on your television
    </p>
    @Html.ActionLink("Sit down and watch Always Sunny", "FamilyRoom")
    <br>
    @Html.ActionLink("I would rather not watch Always Sunny", "AlwaysSunny", "Dead")
    <br/>
    <br/>
    <br/>
    <h2>
        Or watch another show
    </h2>
    <br/>
    @using (Html.BeginForm("CheckShow", "Home", new{ans = ""}))
        {
            <input type="text" name ="ans" id="ans" value="" />
            <input type ="submit" value ="Watch" />
        }
</div>