
@{
    ViewBag.Title = "PhoneCall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The sweet, caring voice of an elderly lady comes through the phone...</h2>

<p id="phone-dialogue">"I know where you live, I am on your property. I am going to be killing you today. Nothing personal. Good luck."</p>


<p>
    <div>
        <button class="btn btn-info growing-btn" type="button" id="ignoreWarning" onclick="location.href = '@Url.Action("IgnoreWarning", "Dead")'" />
        <p>Ignore Call</p>
        <p>Probably a prank</p>
    </div>
    <br>
    <div>
        <button class="btn btn-info" type="button" id="hide" onclick="location.href = '@Url.Action("Hide", "Dead")'" />
        <p>Hide</p>
        <p>This is MY house</p>
    </div>
    <br>
    <div>
        <button class="btn btn-info" type="button" id="run" onclick="location.href = '@Url.Action("WheresWaldo", "Home")'" />
        <p>Run!</p>
        <p>I'M SCARED!</p>
    </div>
    <br>
    <div>
        <button class="btn btn-info" type="button"  id="fight" onclick="location.href = '@Url.Action("Kitchen", "Home")'" />
        <p>Fight!</p>
        <p>I can take her!</p>
    </div>
</p>
