
@{
    ViewBag.Title = "DriveAway";
    Layout = "~/Views/Shared/_aliveLayout.cshtml";
}

<h2>Drive to Freedom!</h2>

<img src="http://i.kinja-img.com/gawker-media/image/upload/s--QTf0e-eS--/c_fit,fl_progressive,q_80,w_636/1881wsnuupzjdgif.jpg" />