
@{
    ViewBag.Title = "AK47";
    Layout = "~/Views/Shared/_aliveLayout.cshtml";
}

<h2>AK47</h2>

<p>Nice Shot! Granny is donzo</p>

<img src="http://s.mcstatic.com/thumb/1336851/6978558/4/flash_player/0/1/call_of_duty_4_ak_47_montage.jpg" />