
@{
    ViewBag.Title = "ThrowCom";
    Layout = "~/Views/Shared/_aliveLayout.cshtml";
}

<h2>Nice toss! You hit her in the head!</h2>

<img class="dead-picture" src="http://www.revueclairobscur.ca/wp-content/uploads/2015/02/bloody-computer-edited-how-would-you-kill-these-walking-dead-walkers-310x174.jpeg" />