
@{
    ViewBag.Title = "Driveway";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Driveway</h2>

<p>
    Your Driveway contains the normal options for fleeing. Unfortunately your driveway is a mile long.
</p>

<p>
    @Html.ActionLink("Car", "Troll")
    <br>
    @Html.ActionLink("Dragon", "Dragon", "Dead")
    <br>
    @Html.ActionLink("Walk", "Walk", "Dead")
    <br>
    @Html.ActionLink("Unicycle", "Unicycle", "Dead")
    
</p>