
@{
    ViewBag.Title = "Driveway";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Driveway</h2>

<p>
    Your Driveway contains the normal options for fleeing. Unfortunately your driveway is a mile long.
</p>

<p>
    <div>
        <button class="btn btn-info" type="button" id="car" onclick="location.href = '@Url.Action("Troll", "Run")'" />
        Car
    </div>
    <br>
    <div>
        <button class="btn btn-info" type="button" id="dragon" onclick="location.href = '@Url.Action("Dragon", "Dead")'" />
        Dragon
    </div>
    <br>
    <div>
        <button class="btn btn-info" type="button" id="walk" onclick="location.href = '@Url.Action("Walk", "Dead")'" />
        Walk
    </div>
    <br>
    <div>
        <button class="btn btn-info" type="button" id="unicycle" onclick="location.href = '@Url.Action("Unicycle", "Dead")'" />
        Unicycle
    </div>
    
</p>