
@{
    ViewBag.Title = "Superbounce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You have solved the riddle.</h2>

<p>
    <div>
        <button class="btn btn-info" type="button" id="car" onclick="location.href = '@Url.Action("DriveAway", "Alive")'"/>
        Get in car and drive away
    </div>
    <br>
    <div>
        <button class="btn btn-info" type="button" id="walk" onclick="location.href = '@Url.Action("Walk", "Dead")'"/>
        Leave car and walk away
    </div>
</p>

<img src="http://i.ytimg.com/vi/XPwFlsVJ-T0/maxresdefault.jpg" />

