@using Microsoft.Ajax.Utilities

@{
    ViewBag.Title = "Troll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>What! There is a Troll guarding the exit!</h2>

<!-- pay always sunny troll toll clip-->
<br/>

<p>
    You must solve the Trolls riddle... Write your answer over the trolls name in the url
</p>
<br/>
<img src="http://sinesiopontes.files.wordpress.com/2011/05/serra_troll.jpg" />
<br />
<p>
    The Troll Speaks, "You Person. I Troll. What is a BLT without any Mayo?"
</p

@*@using (Html.BeginForm("CheckAns", "Run", new{ans = ""}))
{
    <input type="text" name ="ans" id="ans" value="" />
    <input type ="submit" value ="CheckAns" />
}*@