
@{
    ViewBag.Title = "AlwaysSunny";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>Terrible choice in television</h2>

<img class="dead-picture" src="https://s-media-cache-ak0.pinimg.com/236x/75/00/03/75000300dd4f78470611200b6aa62abc.jpg" />
