
@{
    ViewBag.Title = "ComShield";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>ComShield</h2>

<p>She still shoots you.</p>

<img src="http://www.faboverfifty.com/wp-content/uploads/geri_post/2011/08/hiding-behind-computer-mlm-business2.jpeg" />