
@{
    ViewBag.Title = "ComShield";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>She still shoots you</h2>

<img class="dead-picture" src="http://www.faboverfifty.com/wp-content/uploads/geri_post/2011/08/hiding-behind-computer-mlm-business2.jpeg" />
