
@{
    ViewBag.Title = "Dragon";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>Bold move assuming the dragon was friendly...</h2>
<img src="http://i.dailymail.co.uk/i/pix/2015/05/11/05/288BC08B00000578-3076177-image-a-8_1431319598674.jpg" />
<!--input game of thrones man burning-->


