
@{
    ViewBag.Title = "Hide";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>Hide</h2>

<p>Have you never seen any scary movie?  The WILL find you</p>

<img src="http://www.inkace.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/h/n/hnt4_171_.jpg" />