
@{
    ViewBag.Title = "Hide";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>You can hide but you can't run!</h2>


<img class="dead-picture" src="https://guyvslife.files.wordpress.com/2015/03/o-burning-house-facebook.jpg" />