
@{
    ViewBag.Title = "IgnoreWarning";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>Granny don't play no games!</h2>

<img class="dead-picture" src="http://www.vanshaver.com/pictures/12-Badass-Granda-with-guns-9mm-with-supressor-grandma.jpg" />