
@{
    ViewBag.Title = "IgnoreCall";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>IgnoreCall</h2>

<p>
    Well Granny rang your doorbell and shot you. Pick up your phone next time
</p>
<img src="http://playgrand.files.wordpress.com/2014/05/2130127212_d8b6b59fb3.jpg" />