
@{
    ViewBag.Title = "Katana";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>Katana</h2>
<p>Never bring a sword to a gun fight</p>

<img src="http://drawception.com/pub/panels/2012/12-27/4wTbWyn38X-12.png" />
