
@{
    ViewBag.Title = "Kryptonite";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>Probably shouldn't have grabbed a rock, huh?</h2>

<img class="dead-picture" src="http://geekandsundry.com/wp-content/uploads/2015/05/anti-kryptonite.jpg" />