
@{
    ViewBag.Title = "Kryptonite";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>Kryptonite</h2>

<p>
    Probably shouldn't have grabbed a rock, huh?
    ...
    <br/>
    This isn't superman

</p>
<img src="http://geekandsundry.com/wp-content/uploads/2015/05/anti-kryptonite.jpg" height ="400" width ="400"/>