@{
    ViewBag.Title = "MikeTyson";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>She has a gun... You are dead</h2>

<img class="dead-picture" src="http://i.ytimg.com/vi/FnKfSzepxqw/hqdefault.jpg" />