@{
    ViewBag.Title = "MikeTyson";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>MikeTyson</h2>

<p>
    She has a gun... You are dead.
</p>
<img src="http://i.ytimg.com/vi/FnKfSzepxqw/hqdefault.jpg" />