@{
    ViewBag.Title = "PowerOnCom";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>PowerOnCom</h2>

<p>The last thing you hear is the Windows start sound.</p>
<img src="http://img05.deviantart.net/aae3/i/2012/077/d/1/reqested___windows_8_boot_concept_2_by_dakirby309-d4t54xa.jpg" />