
@{
    ViewBag.Title = "TooLong";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>Took Too Long Granny Already Got You</h2>

<img src="http://www.vanshaver.com/pictures/12-Badass-Granda-with-guns-9mm-with-supressor-grandma.jpg" />

