@{
    ViewBag.Title = "Unicycle";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>Unicycle is hard.</h2>

<img src="http://3.bp.blogspot.com/-_Hq3ciVrGw4/UnK2FscQpwI/AAAAAAAABz8/YBcT57LLgzI/s1600/don't+drink+and+unicycle_edited-1.png" />