
@{
    ViewBag.Title = "WrongAns";
    Layout = "~/Views/Shared/_deadLayout.cshtml";
}

<h2>Your Answer Was Incorrect</h2>

<img src="http://www.fairiesworld.com/gallery/albums/userpics/10001/normal_Troll.jpg" />